/* EmailDialog.css */

/* Stile per il Dialog */
.dialog-container {
  border-radius: 10px;
  min-width: 400px; /* Imposta una larghezza minima per il dialog */
}

/* Titolo del Dialog */
.dialog-title {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

/* Stile per i bottoni all'interno del Dialog */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Stile per il Select (campo email) */
.dialog-select {
  border-radius: 10px;
  width: 100%;
  min-width: 300px;
  margin-top: 10px;
}

/* Stile per il bottone "Conferma" */
.button-confirm {
  background-color: #4338ca;
  color: white;
  border-radius: 12px;
  &:hover {
    background-color: #3b29b3;
  }
}

/* Aggiungi questa classe nel tuo file CSS */
.dialog-container .MuiDialog-paper {
  border-radius: 50px;  /* Arrotonda i bordi */
}

/* Stile per il bottone "Annulla" */
.button-cancel {
  background-color: #ef4444;
  color: white;
  border-radius: 12px;
  &:hover {
    background-color: #dc2626;
  }
}

/* Bottoni dentro il dialog */
.dialog-button .MuiPaper-root {
  padding: 12px 32px;
  font-weight: 600;
  opacity: 1;
  cursor: pointer;
  border: none;
  color: #ffffff;
  border-radius: 35px;
  background: linear-gradient(135deg, #bccbbc, #5f665f); /* verde sfumato */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dialog-button .MuiPaper-root:hover {
  background: linear-gradient(135deg, rgba(19, 160, 71, 0.95), rgba(102, 187, 106, 0.95));
  transform: scale(1.03);
  
}

.dialog-button .MuiPaper-root:active {
  transform: scale(0.98);
}

.dialog-title {
  color:blueviolet
}
