/* GamificationContent.css */

.box-gamification-content {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* CAMBIA DA center/flex-start A stretch */
    width: 100%;
    padding-top: 24px;
    padding-left: 25px;
    padding-right: 20px;
    box-sizing: border-box;
}

.video-grid-wrapper {
    width: 100% !important;
}
/* Rimuoviamo il test dei 200px */
.box-typography {
    width: 100%;
    padding-left: 0; /* Reset del test precedente */
    margin-bottom: 5px;
}

/* Stile del testo */
.popover-header-text {
    text-align: left;
    color: #5f6368;
    font-size: 0.95rem;
    margin: 0 !important; /* Rimuove margini di default di MUI che potrebbero spostarlo */
}

