.button-right{
    padding-top: 20px!important;
}
.box-child{
    padding-top: 10px;
}
.box-register{
    padding-top: 35px;
    padding-left:23px;
    padding-right:23px;
}
.box-child{
    padding-top: 20px;
}