.language-flag-svg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.language-flag-svg-menu {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
