.welcome-container1 {
  /* Riduciamo o azzeriamo il margine superiore */
  margin-top: 10px !important; 
  
  color: hwb(211 80% 12%);
  max-width: 5000px;
  margin-left: auto;
  margin-right: auto;
}

.login-paper {
  /* Riduciamo il padding interno superiore della Paper se necessario */
  padding: 16px 32px 32px; /* Era 0 32px 32px */
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
  
  /* Se vuoi che la card stessa "salga" verso l'alto */
  margin-top: 0; 
}

/* Rimuoviamo eventuali margini interni del Box di login che spingono in basso */
.box-login {
  padding-top: 15px !important; /* Ridotto da 10px */
}
.login-button {
  background-color: #0070f3;
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
  height: 48px;

}

.social-button {
  width: 56px;
  height: 56px;
  border: 1px solid #ccc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button svg {
  font-size: 32px;
}

.google-button {
  border: none;
  padding: 0;
}
.box-accedi{
  padding-top: 10px;
}