/* ButtonComponent.css */

/* Container dei pulsanti */
.col-button-container {
  display: flex;
  gap: 12px;
}



/* Pulsante rosso */
.button-red {

  /* background-color: red; Colore di sfondo rosso */
 /*  color: white;          Colore del testo bianco */
 border-radius: 12px;   /* Bordi arrotondati */
  padding: 10px 20px;    /* Spaziatura interna */
  font-size: 16px;       /* Dimensione del testo */
  cursor: pointer;       /* Cambia il cursore al passaggio */
  transition: background-color 0.3s ease; /* Effetto al passaggio */
  max-width: 90px; /* Larghezza massima */
  min-width: 50px; /* Larghezza minima */
  width: 100%; /* Si adatta allo spazio disponibile */
  box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.button-red:hover {
  background-color: #d52a2a;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  transform: translateY(-2px);
}

.button-red:disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
  border: 1px solid lightgrey;
}

/* Pulsante blu */
.button-blue {
  border-radius: 12px;   /* Bordi arrotondati */
  padding: 10px 20px;    /* Spaziatura interna */
  font-size: 16px;       /* Dimensione del testo */
  cursor: pointer;       /* Cambia il cursore al passaggio */
  transition: background-color 0.3s ease; /* Effetto al passaggio */
  max-width: 90px; /* Larghezza massima */
  min-width: 50px; /* Larghezza minima */
  width: 100%; /* Si adatta allo spazio disponibile */ 
  box-shadow: rgba(44, 53, 187, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-blue:hover {
  background-color: #2f2d87;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  transform: translateY(-2px);
}

.button-blue:disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
  border: 1px solid lightgrey;
}

/* Divider styling */
.popover-divider {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Bottoni dentro il dialog */
.dialog-button .MuiPaper-root {
  padding: 12px 32px;
  font-weight: 600;
  opacity: 1;
  cursor: pointer;
  border: none;
  color: #ffffff;
  border-radius: 35px;
  background: linear-gradient(135deg, #bccbbc, #5f665f); /* verde sfumato */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dialog-button .MuiPaper-root:hover {
  background: linear-gradient(135deg, rgba(19, 160, 71, 0.95), rgba(102, 187, 106, 0.95));
  transform: scale(1.03);
}

.dialog-button .MuiPaper-root:active {
  transform: scale(0.98);
}

.dialog-title {
  color:blueviolet
}
