

.box-layout-text {
    width: 80%;
}

.box-layout {
    padding-left: 15px;
}


.box-layout-text-vertical {
    width: 100%;
    padding-left: 10px;
}

.hidden-email {
    visibility: hidden;
  }

.box-layout-right-button {
    padding-right: 10px;
    display: flex;
}
.grid-menu{
    padding-top: 10px;

}